<h1 style="color: #564787; text-align: center; font-family: 'Open Sans', sans-serif;">New Reflection</h1>
<div class="maniContainer" style="border-style: solid; padding: 20px; border-color: #564787; margin-right: 100px; margin-left: 100px; align-items: center; text-align: center;">

<%= render 'form', reflection: @reflection %>
</div>

<%= link_to 'Back', reflections_path %>
