<br>
<br>
<h1 style="color: #564787; text-align: center; font-family: 'Open Sans', sans-serif;">New Manifestation</h1>
<div class="maniContainer" style="border-style: solid; padding: 20px; border-color: #564787; margin-right: 100px; margin-left: 100px; align-items: center; text-align: center;">
<%= render 'form', manifestation: @manifestation %>

</div>
<div style="text-align: center; align-items: center;">
<br>
<%= link_to 'Back', manifestations_path %>
</div>
